<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='img/logo.jpg')}}">
    <title>Services</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="" width="30" height="24"
                    class="d-inline-block align-text-top">
                Solaratics</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url_for('home')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Power Prediction</a></li>
                            <li><a class="dropdown-item" href="#">Dirt Detection</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Analysis</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br><br><br>

    <div class="app" id="app2">
        <h1>Solar Power Prediction</h1>
        <form id="form2" action='http://127.0.0.1:5000/predict_power' method='post' name="form2" class="form"
            enctype="multipart/form-data">
            <div class="wrapper rounded bg-white">
                <div class="form">
                    <div class="row">
                        <div class=" my-md-2 my-3">
                            <label>Location</label>
                            <select class="sub" name="location" required>
                                <option value="" selected hidden>Choose Option</option>
                                <option value="Grissom">Grissom</option>
                                <option value="Camp Murray">Camp Murray</option>
                                <option value="Hill Weber">Hill Weber</option>
                                <option value="JDMT">JDMT</option>
                                <option value="Kahului">Kahului</option>
                                <option value="MNANG">MNANG</option>
                                <option value="Malmstrom">Malmstrom</option>
                                <option value="March AFB">March AFB</option>
                                <option value="Offutt">Offutt</option>
                                <option value="Peterson">Peterson</option>
                                <option value="Travis">Travis</option>
                                <option value="USAFA">USAFA</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <label>Date (mm/dd/yyyy)</label>
                            <input type="date" name="date" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <label>Time(hh:mm am/pm)</label>
                            <input type="time" name="time" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <label>Latitude (degrees)</label>
                            <input type="number" name="latitude" step=0.01 class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <label>Longitude (degrees)</label>
                            <input type="number" name="longitude" step=0.01 class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <label>Altitude (metres)</label>
                            <input type="number" name="altitude" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" my-md-2 my-3">
                            <label>Season</label>
                            <select class="sub" name="season" required>
                                <option value="" selected hidden>Choose Option</option>
                                <option value="Fall">Fall</option>
                                <option value="Spring">Spring</option>
                                <option value="Summer">Summer</option>
                                <option value="Winter">Winter</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <label>Specific Humidity</label>
                            <input type="number" step="any" name="humidity" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <label>Ambient Temperature (deg farenheit)</label>
                            <input type="number" step="any" name="amb_temp" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <label>Wind Speed (knots)</label>
                            <input type="number" step=0.1 name="wind speed" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <label>Visibility (relative to sunny day which is 10 (1-10))</label>
                            <input type="number" step=1 name="visibility" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <label>Pressure (millibars of mercury))</label>
                            <input type="number" step=0.1 name="pressure" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <label>Cloud Ceiling (metres)</label>
                            <input type="number" step=1 name="cloud ceiling" class="form-control" required>
                        </div>
                    </div>
                    <div class="btn btn-primary mt-3"><button type="submit">Submit</button></div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <div id="result2">
                                {% if res %}
                                <span>The predicted power is </span>
                                {{ res }}
                                <span>killo watts</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% if formdata %}
    <script>
        document.getElementsByName('location')[0].value = "{{ formdata['location'] }}"
        document.getElementsByName('season')[0].value = "{{ formdata['season'] }}"
        document.getElementsByName('latitude')[0].value = "{{ formdata['latitude'] }}"
        document.getElementsByName('longitude')[0].value = "{{ formdata['longitude'] }}"
        document.getElementsByName('humidity')[0].value = "{{ formdata['humidity'] }}"
        document.getElementsByName('visibility')[0].value = "{{ formdata['visibility'] }}"
        document.getElementsByName('pressure')[0].value = "{{ formdata['pressure'] }}"
        document.getElementsByName('time')[0].value = "{{ formdata['time'] }}"
        document.getElementsByName('date')[0].value = "{{ formdata['date'] }}"
        document.getElementsByName('wind speed')[0].value = "{{ formdata['wind speed'] }}"
        document.getElementsByName('altitude')[0].value = "{{ formdata['altitude'] }}"
        document.getElementsByName('cloud ceiling')[0].value = "{{ formdata['cloud ceiling'] }}"
        document.getElementsByName('amb_temp')[0].value = "{{ formdata['amb_temp'] }}"

    </script>
    {% endif %}

    <br><br><br>

    <div class="app" id="app">
        <h1>Dirt Detection</h1>
        <div id="dropArea">
            <form id="form1" action="" class="form" enctype="multipart/form-data">
                <p>
                    Drop file here<br><span class="bold">or</span>
                </p>
                <input id="img_uploaded" name="file" type="file" accept="image/webp, image/jpeg, image/png, image/jpg">
                <span class="bold">and</span>
                <button id="upload" type="submit" disabled>Upload</button>
            </form>
        </div>

        <progress value="0" max="100"></progress>

        <p>
            <strong>Uploading status:</strong>
            <span id="statusMessage">🤷‍♂ Nothing's uploaded</span>
        </p>

        <p>
            <strong>Uploaded files:</strong>
            <span id="fileNum">0</span>
        </p>

        <ul id="fileListMetadata"></ul>
        <div id="result"></div>
    </div>

    <br><br><br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>